# Unity-generated
[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Unity 3D Generated
sysinfo.txt
*.apk
*.aab
*.unitypackage

# Plugin compile output (kept binaries, gitignore intermediate)
*.pdb.meta
